<!DOCTYPE html>
<html>
<head>
  <title>Tour Planner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding: 20px;
    }
    .tour-form {
      max-width: 500px;
      margin: 0 auto;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .btn-submit {
      background-color: #007bff;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="tour-form">

      <h2>View Grievence</h2>
    <table class="table table-striped weekly-data">
      <thead>
        <tr>
          <th>Sender Name</th>
          
          <th>Grievence</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td>{{ entry.sender }}</td>

          <td>{{ entry.grievence }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
